<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <title>Panaderia el Maná</title>
  </head>

  <body>
    <header>
      <nav
        class="flex items-center justify-between px-1 py-1 pl-4 pr-4 text-white marron-oscuro font-lora"
      >
        <div class="flex-1">
          <ul class="flex justify-start">
            <li class="pr-3">
              <a href="" class="hover:underline">Productos</a>
            </li>
            <li class="pr-3">
              <a href="" class="hover:underline">Sobre nosotros</a>
            </li>
            <li class="pr-3">
              <a href="" class="hover:underline">Contacto</a>
            </li>
          </ul>
        </div>
        <div class="flex-shrink-0">
          <a href="index.html">
            <img
              src="/img/logo-claro-elmana.png"
              alt="logo de panadería el maná"
              width="80px"
              class="rounded-full"
            />
          </a>
        </div>
        <div class="flex-1">
          <ul class="flex justify-end">
            <li class="pr-3">
              <a href="" class="hover:underline">Iniciar sesión</a>
            </li>
            <li><a href="" class="hover:underline">Registrarse</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="marron-principal">
      <article
        class="flex items-center bg-[#ebc68e] pl-3 pt-3 pr-3 min-h-[90vh]"
      >
        <div class="flex flex-col justify-between w-1/2 h-full px-10">
          <h2 class="mb-5 text-3xl font-bold text-center text-black">
            Bienvenido a panaderia El Maná
          </h2>
          <p class="text-black">
            Ofrecemos una amplia variedad de productos de panificación y
            pastelería, todos hechos con los mejores ingredientes y el amor de
            nuestros panaderos experimentados. Nuestro compromiso es brindarte
            siempre productos frescos y de la más alta calidad
          </p>
          <ul class="mt-5 mb-4 text-black list-none list-inside">
            <li class="flex items-center"><ion-icon name="chevron-forward-outline"></ion-icon>Pan recién horneado todos los días</li>
            <li class="flex items-center"><ion-icon name="chevron-forward-outline"></ion-icon>Las mejores tartas de la ciudad</li>
            <li class="flex items-center"><ion-icon name="chevron-forward-outline"></ion-icon>Ingredientes naturales y frescos</li>
          </ul>
          <a href="#productos" class="px-12 py-3 mt-10 text-sm text-center font-bold text-[#8b563b] border border-[#8b563b] rounded hover:bg-[#8b563b] hover:text-white focus:outline-none active:bg-[#ab9680]">
            Conoce nuestros productos
          </a>
        </div>
        </div>
        
        <img src="/img/panaderia-horno.jpg" alt="" class="w-1/2 rounded-lg" />
      </article>
      <h1 class="py-12 text-3xl text-center font-kindred" id="productos">
        La mejor panadería de Catamarca
      </h1>
      <h2 class="mt-3 ml-5 text-xl font-semibold" >
        Nuestros exquisitos productos destacados
      </h2>
      <section class="flex text-black">
        <article class="shadow-2xl card">
          <img src="/img/medialunas.jpg" alt="Medialunas" class="w-50" />
          <h3 class="m-4 text-xl text-center font-kindred">
            Medialunas de manteca
          </h3>
          <p>
            Las medialunas de manteca son uno de nuestros clásicos favoritos.
            Están horneadas a la perfección con la mejor manteca. Son ideales
            para acompañar un café o té, y siempre están frescas y listas para
            disfrutar en cualquier momento del día.
          </p>
          <a href="#" class="underline">Más información</a>
        </article>
        <article class="shadow-2xl card">
          <img src="/img/baguette.jpg" alt="Baguette" class="w-50" />
          <h3 class="m-4 text-xl text-center font-kindred">Baguette</h3>
          <p>
            Nuestra baguette es una delicia crujiente por fuera y tierna por
            dentro. Con una corteza dorada y un sabor auténtico, es perfecta
            para acompañar cualquier comida o para disfrutar sola. Hecha con
            ingredientes de la mejor calidad, es un clásico de la panadería que
            nunca pasa de moda.
          </p>
          <a href="#" class="underline">Más información</a>
        </article>
        <article class="shadow-2xl card">
          <img src="/img/budin.jpg" alt="Budín de chocolate" class="w-50" />
          <h3 class="m-4 text-xl text-center font-kindred">
            Budín de chocolate
          </h3>
          <p>
            Nuestro budín de chocolate es una delicia irresistible, con una
            textura suave y esponjosa que se deshace en la boca. Hecho con cacao
            de alta calidad y trozos de chocolate, ofrece un sabor profundo y
            rico que complace a los amantes del chocolate.
          </p>
          <a href="#" class="underline">Más información</a>
        </article>
      </section>
    </main>
    <footer class="flex items-center justify-around py-2 marron-oscuro">
      <section>
        <h2 class="text-lg font-semibold">Contacto</h2>
        <div class="flex items-center">
          <ion-icon name="call-outline" class="pr-2"></ion-icon>
          <p>3834-123123</p>
        </div>
        <div class="flex items-center">
          <ion-icon name="mail-outline" class="pr-2"></ion-icon>
          <p>contactopanaderiaelmana@gmail.com</p>
        </div>
        <div class="flex items-center">
          <ion-icon name="pin-outline" class="pr-2"></ion-icon>
          <p>Calle falsa 123, Catamarca, Argentina</p>
        </div>
      </section>

      <section>
        <h2 class="text-lg font-semibold">Seguinos en nuestras redes</h2>
        <ul>
          <li>
            <a href="#" target="_blank">Facebook</a>
            <ion-icon name="logo-facebook" class="p-2 align-middle"></ion-icon>
          </li>
          <li>
            <a href="#" target="_blank">Instagram</a
            ><ion-icon
              name="logo-instagram"
              class="p-2 align-middle"
            ></ion-icon>
          </li>
        </ul>
      </section>

      <section class="flex flex-col items-center">
        <img src="/img/logo-marron-elmana-sinfondo.png" alt="" width="150px" />
        <p>&copy; 2024 Panadería El Maná. Todos los derechos reservados.</p>
      </section>
    </footer>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
